header {
    width: 550px;
    height: 285px;
    background-color: #6943FF;
    color: #fff;
    text-align: center;
}

h1 {
    padding-top: 33px;
}

.number {
    font-size: 58px;
    font-weight: 800;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 117px;
    height: 83px;
    background: none;
    color: #fff;
    border: 2px solid #B295FF;
    border-radius: 5px;
    margin-bottom: 30px;
}

.btn {
    width: 117px;
    height: 42px;
    background: #fff;
    color: #3D3D3D;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 500;
}

.wrapper {
    width: 550px;
    height:445px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px dotted red; */
    background-color: #F4F4F4;
}

section {
    width: 500px;
    height:110px;
    /* border: 1px solid #464354; */
    text-align: center;
    margin-top: 20px;
    background-color: #fff;
}

#num1 {
    margin-top: 35px;
}

h2 {
    color: #5A537B;
}

p {
    color: #353535;
}